@import "../../variables.css";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  width: 380px;
  height: 100%;
  padding-left: 48px;
  padding-right: 48px;
}

.form_after {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  width: 380px;
  height: 100%;
}

.form_container {
  background-image: url(../../assets/background.jpg);
  text-align: center;
  background-position: center;
  background-color: var(--blue);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  width: 1280px;
  position: absolute;
}

.close_button {
  position: absolute;
  display: block;
  width: 100px;
  color: var(--black);
  background-color: var(--white);
  border: 2px solid var(--black);
  padding: 10px;
  font-size: 23px;
  top: 10px;
  right: 10px;
  cursor: pointer;

  &:hover {
    background-color: var(--black);
    color: var(--white);
  }
}

.close_button:focus {
  outline: 2px solid var(--focus);
}

.close_button_active {
  position: absolute;
  display: block;
  width: 100px;
  color: var(--white);
  background-color: var(--black);
  border: 2px solid var(--black);
  padding: 10px;
  font-size: 23px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close_button_active:focus {
  outline: 2px solid var(--focus);
}

.form_title {
  font-size: 26px;
  font-weight: 400;
}

.form_number {
  font-size: 32px;
  font-weight: 700;
  width: 284px;
  padding-bottom: 20px;
}

.form_text {
  width: 284px;
  padding-bottom: 30px;
}

.submit_button {
  width: 284px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  color: var(--submit-button);
  background-color: var(--blue);
  border: 1px solid var(--submit-button);
  cursor: pointer;

  &:hover {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
  }
}

.submit_button:focus {
  outline: 2px solid var(--focus);
}

.submit_button_active {
  cursor: pointer;
  width: 284px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-transform: uppercase;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
}

.submit_button_active:focus {
  outline: 2px solid var(--focus);
}

.check {
  margin-left: 30px;
  padding-left: 60px;
  color: var(--checkbox-text);
  padding-bottom: 20px;
  width: 300px;
  text-align: start;
}

.input_checkbox {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.checkbox {
  position: absolute;
  margin-left: -60px;
  width: 44px;
  height: 44px;
  background-image: url("../../assets/unchecked.svg");
  cursor: pointer;
}

.input_checkbox:focus + .checkbox {
  outline: 2px solid var(--focus);
}

.input_checkbox:checked:focus + .checkbox {
  outline: 2px solid var(--focus);
}

.input_checkbox:checked + .checkbox {
  background-image: url("../../assets/checked.svg");
  width: 44px;
  height: 44px;
}

.after_title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
  width: 284px;
}

.after_text {
  font-size: 16px;
}

.invalid_number_message {
  color: var(--red);
  height: 57px;
  text-transform: uppercase;
}

.form_number_invalid {
  color: var(--red);
  font-size: 30px;
  font-weight: 700;
  width: 284px;
  padding-bottom: 20px;
}
